body{
    margin:0px;
    padding:0px;
}

#top-header{
    background-color: #FECD29;
}

#social-icons{
    margin:4px 5px;
    font-size:15px;
}
#top-ul ul{
    list-style-type: none;
}

#top-ul li{
    display:;
    border-right: 0.1em solid grey;
    float:right;
    padding:6px 15px;
}

#contact{
    border:none !important;
}
#top-ul li a{
    text-decoration: none;
    color:black;
    font-size:15px;
}

kk