body{
    margin:0px;
    padding:0px;
}

#top-header{
    background-color: #FECD29;
}

#social-icons{
    margin:4px;
    margin-left:30px;
    font-size:15px;
}
#top-ul ul{
    list-style-type: none;
    margin-right: 30px;
}

#top-ul li{
    display:;
    border-right: 0.1em solid grey;
    float:right;
    padding:6px 15px;
}

#contact{
    border:none !important;
}
#top-ul li a{
    text-decoration: none;
    color:black;
    font-size:15px;
}
 
#logo{
    margin-top:-20px;
    margin-left: 50px;
}
#navbar1{
    background:#f0f3f5;
    margin-bottom:0px;
}

#navbar1 ul{
    padding:20px 0px;
    margin-right: 45px;
}
#navbar1 ul a{
    color:black;
    font-family: arial;
    font-size: 17px;
}

#navbar2{
   padding:20px;
}
